* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Inter, sans-serif;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

/* ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: darkgray;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
} */

/* header__contents */
h1 {
    text-align: center;
}

.main {
    padding: 20rem 0;
}

.main section {
    padding: 0 12rem;
}

.main section:not(:last-child){
    margin-bottom: 15rem;
}

.about__content .about-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 6.4rem;
    font-weight: 400;
    margin-bottom: 8rem;
}

.about__content .paragraphs .text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
}

.about__content .paragraphs .text:not(:last-child) {
    margin-bottom: 4rem;
}

.hitory__content .history-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 8rem;
}

.hitory__content .history-list {
    list-style: decimal;
}

.hitory__content .history-list .history-item {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
}

.hitory__content .history-list .history-item a {
    font-size: 2.2rem;
    text-decoration: underline;
}

.additional__content .additional-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 3.4rem;
    font-weight: 400;
    margin-bottom: 8rem;
}

.additional__content .additional-list {
    list-style-type: disc;
}

.additional__content .additional-list-2 {
    list-style-type: circle;
    padding-left: 5rem;
}

.additional__content .additional-list .additional-item, .additional__content .additional-list-2 .additional-item-2 {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
}


.additional__content .additional-list .additional-item a, .additional__content .additional-list-2 .additional-item-2 a {
    text-decoration: underline;
}


.container {
    /* max-width: 1140px; */
    max-width: 1320px;
    padding: 0 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}



@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
    html {
        font-size: 9px;
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    html {
        font-size: 8px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    html {
        font-size: 8px;
    }

    .header__content .menu .menu-link {
        font-size: 18px;
    }

    .main section {
        padding: 0 0;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    html {
        font-size: 7px;
    }
}
@media (max-width: 575px) {    
    .container {
        max-width: unset;
    }
    html {
        font-size: 6.5px;
    }
}